<mapper namespace="org.yu.study.mybatis.controller.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="org.yu.study.mybatis.controller.User" >
        select * from user_info
    </select>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" resultType="org.yu.study.mybatis.controller.User" paramterType="org.yu.study.mybatis.controller.User">
        select * from user_info where id = #{id}
    </select>


</mapper>